<!DOCTYPE html>
<html>
<head>
    <block name="title">
        <title>用于个人测试的平台</title>
    </block>

    <link rel="stylesheet" type="text/css" href="/Public/css/base.css"/>
    <link rel="shortcut icon" type="image/ico" href="/Public/images/icon/favicon.ico">
    <script type="text/javascript" src="/Public/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/Public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Public/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Public/js/jquery.PrintArea.js"></script>

    <block name="head">

    </block>

</head>

<body>

    <div class="container">
        <block name="content"></block>
    </div>

</body>

</html>